.checkout__emptyInfo{
    margin-top: 10px;
    background: white;
    padding: 10px;
}

.checkout__emptyInfo h2{
    margin-bottom: 5px;
}

.checkout__emptyLink{
    color: blue;
    text-decoration: none;
}

.checkout__emptyImg{
    margin-top: 50px;
    object-fit: contain;
    width: 50%;
    max-height:350px;

    position: relative;
    left:50%;
    transform: translateX(-50%);
}