.checkout{
    height: max-content;
    display: flex;
}

.checkout__left{
    flex:1;
    overflow-y: scroll;
    height: 89vh;
}

.checkout__emptyInfo{
    margin-top: 10px;
    background: white;
    padding: 10px;
}

.checkout__emptyInfo h2{
    margin-bottom: 5px;
}

.checkout__emptyLink{
    color: blue;
    text-decoration: none;
}

.checkout__emptyImg{
    margin-top: 50px;
    object-fit: contain;
    width: 50%;
    max-height:350px;

    position: relative;
    left:50%;
    transform: translateX(-50%);
}

.checkout__head{
    font-size: 200%;
    margin:10px 10px 20px 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid grey;
}