.header{
    background: linear-gradient(to right, #FD3C51, #fd6d6d);
    display: flex;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 100;
}
.header__logo{
    height: 50px;
    margin: 5px;

    filter:brightness(5000%);
    object-fit: contain;
    /* Maintains the aspect ratio  */
}

.header__search{
    display: flex;
    flex:1;
    margin: 0 5px;
}
.header__searchInput{
    border: none;
    padding: 10px;
    width: 100%;
}
.header__searchInput:focus{
    outline: none;
}
.header__searchIcon{
    background: crimson;
    color: azure;

    padding: 10px;
    height: 22px !important;

    cursor: pointer;
}
.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__link{
    text-decoration: none;
    margin: 5px 10px;
    color: azure;
}

.header__option p:first-child{
    font-size: 12px;
    font-weight: lighter;
}

.header__option p:last-child{
    font-weight: bold;
}

.header__optionBasket{
    display: flex;
    align-items: center;
}

.header__optionBasket span{
    margin: 0 5px;
}